html {
	font-family: Rubik;
}
body {
	background-image: url(Fondito.jpg);
	font-family: Rubik;
}

.container-fluid {
	background-color: rgba(125, 15, 15, 1.0);
} 

.navbar-brand {
	color: white;
}

.navbar-text {
	color: white;
}

#navtext1 {
	color: white;
}

.nav-link {
	color: white;
}

.deza {
	color: white;
}

h3 {
	padding: 4px;
	border-bottom: 3px solid rgba(128, 15, 15, 1.0);
	width: 500px;
	text-align: center;
	color: white;
}

.form-label {
	color: white;
}

.mb-3 {
	width: 500px;
}

.form-floating {
	width: 500px;
}

.form-select {
	width: 500px;
}

.form-check-label {
	color: white;
}

.btn-primary {
	background-color: rgba(125, 15, 15, 1.0);
	border-color: rgba(125, 15, 15, 1.0);
	transition: all 1s;
}

.btn-primary:hover {
	background-color: rgba(90, 15, 15, 1.0);
	border-color: rgba(90, 15, 15, 1.0);
	transform: scale(1.05);
}