body {
	background-image: url(Fondito.jpg);
	font-family: Rubik;
}

.container-fluid {
	background-color: rgba(125, 15, 15, 1.0);
}

#navtext1 {
	color: white;
}

.nav-link {
	color: white;
}

.navbar-text {
	color: white;
}

#titulo {
	padding: 4px;
	border-bottom: 3px solid rgba(128, 15, 15, 1.0);
	width: 200px;
	text-align: center;
	color: white;
}

.container {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(2, 1fr);
}

.img {
	height: 22rem;
	width: 22rem;
	transition: all 0.5s;
}

.img:hover {
	transform: scale(1.08);
}

#grand:hover {
	color: rgba(128, 15, 15, 1.0);
}

footer {
	text-align: center;
	font-family: Rubik;
	color: white;
}
